{% extends 'base.html' %}

{% block content %}
<h2>Характеристика страны</h2>
<ol>
    <li>code: {{ country.code }}</li>
    <li>name: {{ country.name }}</li>
    <li>continent: {{ country.continent }}</li>
    <li>region: {{ country.region }}</li>
    <li>surfacearea: {{ country.surfacearea }}</li>
    <li>indepyear: {{ country.indepyear }}</li>
    <li>population: {{ country.population }}</li>
    <li>lifeexpectancy: {{ country.lifeexpectancy }}</li>
    <li>gnp: {{ country.gnp }}</li>
    <li>gnpold: {{ country.gnpold }}</li>
    <li>localname: {{ country.localname }}</li>
    <li>governmentform: {{ country.governmentform }}</li>
    <li>headofstate: {{ country.headofstate }}</li>
    <li>capital: {{ country.capital }}</li>
    <li>code2: {{ country.gnp }}</li>
</ol>
<h2>Количество городов в государстве : {{ quantity }}</h2>
<ol>
{% for city in cities %}
    <li><a href="{% url 'city_detail' city.pk %}">{{ city }}</a></li>
{% endfor %}
</ol>
{% endblock %}