{% extends 'base.html' %}

{% block content %}
<ul>
    <li>code: {{ object.code }}</li>
    <li>name: {{ object.name }}</li>
    <li>continent: {{ object.continent }}</li>
    <li>region: {{ object.region }}</li>
    <li>surfacearea: {{ object.surfacearea }}</li>
    <li>indepyear: {{ object.indepyear }}</li>
    <li>population: {{ object.population }}</li>
    <li>lifeexpectancy: {{ object.lifeexpectancy }}</li>
    <li>gnp: {{ object.gnp }}</li>
    <li>gnpold: {{ object.gnpold }}</li>
    <li>localname: {{ object.localname }}</li>
    <li>governmentform: {{ object.governmentform }}</li>
    <li>headofstate: {{ object.headofstate }}</li>
    <li>capital: {{ object.capital }}</li>
    <li>code2: {{ object.gnp }}</li>
</ul>
{% endblock %}